
/* Body style */
* {
    box-sizing: border-box;
}
@media  screen and (max-width: 600px) {
    .nav {
        float: none;
        width: 100%;
    }
    
}
@font-face {
    font-family: myFirstFont;
    src: url("Angel wish.ttf") format("truetype");
}
body {
    background-color: rgb(235, 222, 222);
}
/* Header style */
.responsive {
    width: 100%;
    height: 650px;
}
/* Navigation style */
nav {
    width: 100%;
    display: inline-block;
    justify-content: center;
    position: relative;
    padding: 3%;
    background-color: black;
}
nav a { 
    float: left;
    display: block;
    color: rgb(190, 179, 179);
    font-size: 30px;
    text-align: center;
    padding: 40px;
    text-decoration: none;
}
/* Schedule style */
#schedule {
    width: 100%px;
    height: 300px;
    display:block;
    position: relative;
    top: -25px;
    background-color: black;
}
#schedule h3 {
    display: block;
    position: relative;
    padding-top: 5px;
    text-align: center;
    font-size: 30px;
    color: rgb(190, 179, 179);
}
#schedule ul {
    padding: 10px;
    font-weight: bold;
    font-style: italic;
    position: relative;
    top: 0px;
    color:rgb(190, 179, 179);
}
/* Media block style */
.media {
    width: 100%px;
    height: 300px;
    text-align: center;
    display:block;
    position: relative;
    top: -39px;
    background-color: black;
}
.media h2 {
    color:rgb(190, 179, 179);
    font-weight: bold;
    padding-top: 43px;
}
/* Band Bio style */

.bio {
    width: 100%px;
    height: 350px;
    display: block;
    position: relative;
    margin-top: -58px;
    text-align: center;
    background-color: black;
}
.bio h2 {
    font-size: 30px;
    color:rgb(190, 179, 179);
    padding-top: 10px;
}
.bio h3 {
    color:rgb(190, 179, 179);
}
.bio p {
    color:rgb(190, 179, 179);
}
/* Merchandise */
.container-merch {
    background-color: black;
    width: 100%px;
    height: 700px;
    display: block;
    position: relative;
    top: -78px;
    text-align: center;
}
.gear {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: myFirstFont;
}
.container-merch h1 {
    font-size: 10px;
    color:rgb(0, 0, 0);
    padding-top: 8px;
}
#merchandise .gear h1 {
    font-size: 250px;
    text-shadow: 0px 0px 40px rgb(235, 222, 222);
}
.flex-container {
    background-color:rgb(190, 179, 179);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.flex-container div {
    background-color: black;
    color: blue;
    border: 3px solid red;
    border-radius: 20px;
    width: 100px;
    margin: 100px;
    justify-content: center;
    line-height: 75px;
    font-size: 100px;
    
}
/* Gallery style */
.gallery-container  {
    background-color: black;
    display: block;
    text-align: center;
    position: relative;
    padding-top: 40px;
    padding-bottom: 25px;
}
.gallery-container .gallery-header h1 {
    font-size: 200px;
    font-family: myFirstFont;
    text-shadow: 0px 0px 40px rgb(235, 222, 222);
}
/* Slideshow Container */
.slideshow-container {
    background-color: black;
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.mySlides {
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.numbertext {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/* Contact style */
.contact {
    font-size: 20px;
    text-align: center;
    color:rgb(190, 179, 179);
    width: 100%;
    height: 200px;
    display: inline-block;
    position: relative;
    top: -100px;
    background-color: black;
}
.contact a {
    color:rgb(190, 179, 179);
    text-decoration: none;
}