/* Body style */
@font-face {
    font-family: myFirstFont;
    src: url("Angel wish.ttf") format("truetype");
}
body {
    background-color: rgb(235, 222, 222);
}
/* Navigation style */
nav {
    width: 94%;
    display: inline-block;
    position: relative;
    padding: 3%;
    background-color: black;
}
nav a { 
    color: rgb(190, 179, 179);
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    padding: 40px;
}
/* Schedule style */
#schedule {
    width: 100%px;
    height: 300px;
    display:block;
    position: relative;
    top: -25px;
    background-color: black;
}
#schedule h3 {
    display: block;
    position: relative;
    padding-top: 5px;
    text-align: center;
    font-size: 30px;
    color: rgb(190, 179, 179);
}
#schedule ul {
    padding: 10px;
    font-weight: bold;
    font-style: italic;
    position: relative;
    top: 0px;
    color:rgb(190, 179, 179);
}
/* Media block style */
.media {
    width: 100%px;
    height: 300px;
    text-align: center;
    display:block;
    position: relative;
    top: -39px;
    background-color: black;
}
.media h2 {
    color:rgb(190, 179, 179);
    font-weight: bold;
    padding-top: 43px;
}
/* Band Bio style */

.bio {
    width: 100%px;
    height: 350px;
    display: block;
    position: relative;
    margin-top: -58px;
    text-align: center;
    background-color: black;
}
.bio h2 {
    font-size: 30px;
    color:rgb(190, 179, 179);
    padding-top: 10px;
}
.bio h3 {
    color:rgb(190, 179, 179);
}
.bio p {
    color:rgb(190, 179, 179);
}
/* Merchandise */
.container-merch {
    background-color: black;
    width: 100%px;
    height: 700px;
    display: block;
    position: relative;
    top: -78px;
    text-align: center;
}
.gear {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: myFirstFont;
}
.container-merch h1 {
    font-size: 10px;
    color:rgb(0, 0, 0);
    padding-top: 8px;
}
#merchandise .gear h1 {
    font-size: 250px;
    text-shadow: 0px 0px 40px rgb(235, 222, 222);
}
/* Gallery style */
.container-gallery  {
    background-color: black;
    display: block;
    text-align: center;
    position: relative;
    padding-top: 40px;
    padding-bottom: 25px;
}
.container-gallery .gallery-header h1 {
    font-size: 200px;
    font-family: myFirstFont;
    text-shadow: 0px 0px 40px rgb(235, 222, 222);
}

/* Contact style */
.contact {
    font-size: 20px;
    text-align: center;
    color:rgb(190, 179, 179);
    width: 100%;
    height: 200px;
    display: inline-block;
    position: relative;
    top: -100px;
    background-color: black;
}
.contact a {
    color:rgb(190, 179, 179);
    text-decoration: none;
}